.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

body{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(23, 196, 219) );
    height: 100vh;
}

.container{
    max-width: 1000px;
    border: 2px solid;
    height: 60vh;
    margin: auto;
    padding: 30px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.message{
    background-color: rgb(228, 223, 223);
    width: 25%;
    margin: 17px 10px;
    padding: 10px;
    border: 2px solid;
    border-radius: 13px;  
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 1085px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 80%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn{
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

